@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Ubuntu', sans-serif;
}

header > h1 {
    text-align: center;
    padding-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
}

nav > a {
   display: block;
   margin-right: auto;
}

nav > div {
    display: flex;
    align-items: center;
    background-color: rgb(110, 209, 255);
    border-radius: 10px 30px 30px 10px;
    transition: .5s;
}

nav > div:hover {
    background-color: rgb(70, 135, 255);

}

nav > div > span {
    padding: 10px;
    font-size: 1.5em;
    border: 0;
    border-radius: 10px;
    margin-right: 10px;
    background-color: transparent;
    cursor: pointer;
    transition: .5s;
}

a > img {
   
}

main {
    padding: 20px;
    font-family: 'Inter', sans-serif, Arial, Helvetica, sans-serif;
    overflow: hidden;
}

#containerPerfis {
    display: flex;
    transition: .5s;
    padding-bottom: 40px;
    animation-timing-function: ease-in-out;
}

.avatar {
    border: 1px solid rgb(162, 213, 255);
    padding: 20px;
    margin-left: 15px;
    max-width: 134px;
    height: 160px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    color: rgb(70, 135, 255);
}

.avatar:hover {
    background-color: rgb(14, 146, 255);
    color: white;
}

.selecionado {
    background-color: rgb(14, 146, 255);
    color: white;
}

.avatar>img {
    display: block;
    margin: auto;
    width: 75px;
}

.avatar>h3 {
    padding-top: 10px;
    text-align: center;
}

.legendaAvatar {
    padding-top: 10px;
    text-align: center;
}

#adolescenteVacina,
#adultoVacina,
#gestanteVacina,
#idosoVacina {
    display: none;
}

#criançaVacina>div,
#adolescenteVacina>div,
#adultoVacina>div,
#gestanteVacina>div,
#idosoVacina>div {
    display: flex;
    margin-bottom: 30px;
}

#criançaVacina>div>div:nth-child(1),
#adolescenteVacina>div>div:nth-child(1),
#adultoVacina>div>div:nth-child(1),
#gestanteVacina>div>div:nth-child(1),
#idosoVacina div>div:nth-child(1) {
    width: 50px;
    padding: 10px;
}

#criançaVacina>div>h3,
#adolescenteVacina>div>h3,
#adultoVacina>div>h3,
#gestanteVacina>div>h3,
#idosoVacina>div>h3 {
    padding-bottom: 8px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: rgb(187, 187, 187);
    width: 35px;
    height: 35px;
    padding: 5px;
    margin-right: 20px;
    border-radius: 50%;
}

input[type="checkbox"]:checked {
    content: url(../imagens/check.png);
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes scale-in-center {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 1;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
}

#criançaVacina>h2,
#adolescenteVacina>h2,
#adultoVacina>h2,
#gestanteVacina>h2,
#idosoVacina>h2 {
    padding-bottom: 15px;
}


footer {}

@media screen and (min-width: 800px) {
    #containerPerfis {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #containerVacinas {
        max-width: 60%;
        margin: auto;
    }
}

