@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    padding: 30px;
    font-family: 'Ubuntu', sans-serif;
}

header > h1 {
    text-align: center;
}

header > nav {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

a > img {
    padding: 10px;
    width: 35px;
}

main {
   padding: 20px;
   font-family: Arial, Helvetica, sans-serif;
   overflow: hidden;
}

#containerPerfis {
    display: flex;
    transition: .5s;
    padding-bottom: 40px;
    animation-timing-function: ease-in-out;
}

.avatar {
    border: 1px solid rgb(162, 213, 255);
    padding: 20px;
    margin-left: 15px;
    width: 134px;
    border-radius: 10px;
    cursor: pointer;
    transition: .5s;
    color: rgb(70, 135, 255);
}

.avatar:hover {
    background-color: rgb(14, 146, 255);
    color: white;
}

.selecionado {
    background-color: rgb(14, 146, 255);
    color: white;
}

.avatar > img{
    display: block;
    margin: auto;
    width: 75px;
}

.avatar  > h3{
    padding-top: 10px;
    text-align: center;
}

.legendaAvatar {
    padding-top: 10px;
    text-align: center;
}

#adolescenteVacina, #adultoVacina, #gestanteVacina, #idosoVacina {
    display: none;
}


footer {

}